@import url('https://fonts.googleapis.com/css2?family=Kanit&display=swap');


:root {
    --main-color : #d55;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.introduction {
    position: absolute;
    font-family: 'Kanit', sans-serif;
    top: 30%;
    left: 50%;
    transform: translate(-50%);
    font-size: 2rem;
    color: var(--main-color);
    
}